.offer {
    background: #465DFF;
    min-height: 648px;
}

.offer__container {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__title {
    margin: 0;
    max-width: 640px;
    color: #FFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
}

.offer__description {
    margin: 0;
    max-width: 310px;
    margin-top: 36px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
}

.offer__button {
    margin-top: 146px;
    width: 129px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
}

@media screen and (max-width: 1140px) {
    .offer {
        min-height: 850px;
    }

    .offer__container {
        padding-top: 140px;
        flex-direction: column-reverse;
    }

    .offer__title {
        margin-top: 48px;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
    }

    .offer__description {
        margin: 22px auto 0;
        text-align: center;
    }

    .offer__button {
        margin: 92px auto 0;
        display: block;
    }
}