.search-form {
    margin: 0 auto;
    max-width: 1140px;
    min-height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-form__data {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    border: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}

.seach-form__input {
    margin: 0;
    color: #A0A0A0;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}

.seach-form__button-next {
    background-image: url(../../images/seachform-next.svg);
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
}

@media screen and (max-width: 1140px) {
    .search-form {
        margin: 0 30px;
        min-height: 246px;
    }
}

@media screen and (max-width: 740px) {
    .search-form {
        margin: 0 14px;
        min-height: 248px;
    }

    .seach-form__find {
        display: none;
    }

    .seach-form__input {
        max-width: 200px;
        font-size: 18px;
        text-align: left;
    }
}