.auth {
    margin: 0 auto;
    max-width: 396px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth__title {
    margin: 0;
    margin-top: 40px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.auth__input-name {
    margin: 0;
    margin-top: 20px;
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
}

.auth__input-design {
    margin-top: 10px;
    width: 396px;
    height: 46px;
    border-radius: 8px;
    background: #F9F9F9;
    border: transparent;
}

.auth__input {
    padding: 0;
    width: 100%;
    height: 100%;
    border: transparent;
    background: transparent;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.auth__input-text-error {
    margin: 0;
    margin-top: 10px;
    color: #EE3465;
    font-size: 10px;
    font-weight: 400;
}

.auth__input-error {
    color: #EE3465;
    font-size: 13px;
    font-weight: 400;
}

.auth__form-button {
    margin-top: 69px;
    width: 396px;
    height: 45px;
    border-radius: 3px;
    background: #FF6838;
    border: transparent;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.auth__info {
    margin: 0;
    margin-top: 16px;
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.auth__info span {
    color: #FF6838;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}