.footer {
    background: #FAFAFA;
}

.footer__container {
    margin: 0 auto;
    max-width: 1140px;
    min-height: 172px;
}

.footer__info {
    padding-top: 79px;
    min-height: 37px;
    border-bottom: 1px solid #E8E8E8;
}

.footer__title {
    margin: 0;
    color: #A0A0A0;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

.footer__navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__year {
    margin: 0;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.footer__container-links {
    display: flex;
    gap: 20px;
}

.footer__link {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-decoration: unset;
}

@media screen and (max-width: 1140px) {
    .footer {
        min-height: 172px;
    }

    .footer__info {
        margin: 0 50px;
    }

    .footer__navigation {
        margin: 20px 50px 0;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        min-height: 253px;
        background-color: white;
    }

    .footer__info {
        margin: 0 10px;
    }

    .footer__title {
        font-size: 12px;
    }

    .footer__navigation {
        margin: 30px 0px 0;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer__container-links {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .footer__year {
        margin-top: 30px;
        font-size: 12px;
        color: #A0A0A0;
    }

    .footer__link {
        font-size: 12px;
    }
}